.header{
    background-color:lightblue;

}
.contnet-wrapper{
    height: 100px;
    
}

.content-wrapper .sidebar-left{
    background-color:aquamarine;
    float: left;
    height: 100%;
}

.content-wrapper .sidebar-right{
    background-color:olive;
    float:right;
     height: 100%;
    width:20%
    
}
.content-wrapper .content-main{
    background-color:red;
    float: left;
     height: 100%;
    width: 70%;
}

    
.footer{
    background-color: lightsalmon;
    clear: both;
}
